@use "../layout/footer" as ftr;

// for footer colors
$primary-color: #0e1646;
$secondary-color: #ffd882;
$white: #ffffff;
// 

$primary-two-color: #333;
$secondary-two-color: #666;
$link-color: #f9b233;
$background-color: #ff0000;