@use "../layout/footer" as ftr;

// for footer colors
$primary-color: #0e1646;
$secondary-color: #ffd882;
$white: #ffffff;
//

// $primary-two-color: #333;
// $secondary-two-color: #666;
$link-color: #f9b233;
$background-color: #ff0000;

//

$primary-three-color: #f8f9fa;
$secondary-three-color: rgba(40, 41, 56, 1);
$icon-color: #6a1b9a;


// 

$primary-5-color: #6c63ff;
$secondary-5-color: #f8f9fa;
$text-color: #6c757d;